apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-e8xc
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/release-service-e2e-tenant/appstudio/dc-metro-map-e8xc@sha256:600cc6ac93702db7fef059ad7397b9c8457a6bfb6f05d46301eb47cd15d6fbdd
        name: my-nodejs
        resources: {}
status: {}
